
.JobPosting-form {
    margin-top: 40px;
}


.JobPosting-form label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    opacity: 0.6;
}

.JobPosting-form input {
    width: 100%;
    padding: 13px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    opacity: 0.8;
}


.Submit-btn {
    background: #c8ad55;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    color: black;
}

.Submit-container {
    display: flex;
    gap: 12px;
    margin-top: 10px;
}
