body {
    margin: 0;
    font-family: Inter, sans-serif;
}

.SignUp-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #4c2719;
    width: 100%;
    min-height: 100vh;
    padding: 0 40px;
    color: white;
    gap: 80px;
}

.left-section {
    max-width: 400px;
    width: 100%;
}

.title {
    font-size: 42px;
    font-weight: 700;
}

.subtitle {
    margin-top: 4px;
    opacity: 0.8;
}

.SignUp-form {
    margin-top: 40px;
}

.SignUp-form h2 {
    margin-bottom: 20px;
    font-size: 20px;
    opacity: 0.8;
}

.SignUp-form h3 {
    margin-bottom: 12px;
    opacity: 0.6;
    font-size: 14px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
    opacity: 0.6;
}

input {
    width: 100%;
    padding: 13px;
    margin-bottom: 20px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.15);
    color: white;
    opacity: 0.4;
}

.CreateAcc-btn {
    background: #c8ad55;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: 600;
    display: block;
    margin-left: 200px;
}

.right-section img {
    width: 500px;
}
