body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.login-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #4C2719;
  height: 100vh;
  padding: 0 60px;
  color: white;
  gap: 80px;
}

.left-section {
  max-width: 350px;
}

.title {
  font-size: 42px;
  font-weight: 700;
}

.subtitle {
  margin-top: 4px;
  opacity: 0.8;
}

.login-form {
  margin-top: 40px;
}

.login-form h2 {
  margin-bottom: 20px;
  font-size: 20px;
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

input {
  width: 100%;
  padding: 13px;
  margin-bottom: 20px;
  border: none;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.15);
  color: white;
}

.login-btn {
  background: #C8AD55; 
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: 600;
}

.right-section {
  max-width: 350px; 
}

.right-section img {
  width: 260px;
  height: auto;
transform: scaleX(-1);
}
