.card {
    border: 1px solid #694030;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    padding-bottom: 0;
}

.header,
.footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.875rem;
}

.header {
    padding: 0.25rem 0;
    padding-bottom: 0;
}

.footer {
    border-top: 1px solid #694030;
    padding: 1rem 0;
}

.headerLeft {
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.underHeader {
    border-bottom: 1px solid #694030;
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

.text {
    display: inline-block;
    margin-bottom: 2rem;
}

.headerRight,
.text,
.username {
    opacity: 0.7;
}
